{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "linebreak-style": "off", // git ensures appropriate line endings on different OS

    // use tabs for indentation
    "no-tabs": 0,
    "indent": ["error", "tab", {
      "SwitchCase": 1 // also indent case statements
    }],
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],

    // remove unnecessary spacing
    "object-curly-spacing": ["error", "never"],
    "keyword-spacing": ["error", {
      "overrides": {
        "async": {"after": false},
        "catch": {"after": false},
        "if": {"after": false},
        "for": {"after": false},
        "function": {"after": false},
        "super": {"after": false},
        "switch": {"after": false},
        "while": {"after": false},
        "with": {"after": false},
      }
    }],
    "react/jsx-tag-spacing": ["error", {
      "beforeSelfClosing": "allow"
    }]
  }
}