{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off"
  }
}