@import '~typeface-roboto';

body {
	margin: 0;
	padding: 0;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.layout {
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: min-content auto;
	grid-template-areas: 'header' 'content';
}
