@import '~typeface-roboto';

body {
	margin: 0;
	padding: 0;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
	border-right: 1px solid lightgray;
	height: 100vh;
}

.content {
	grid-area: content;
}

.layout {
	height: 100vh;
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: min-content auto;
	grid-template-areas: "header header" "sidebar content";
}
